


/* .centralizar, h1{   

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 10px;
margin-top: 10px;
} */

.centralizar{   

  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

    }



    .alinharDir{
      text-align: right;
    }


    .corFont{
      color: blue;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .btnMenu{
     width: 100%  ;
     margin-bottom: 5px;
    }

    .fontMenu{
      font-size: 11px;
    }
    .abaTable{
      background-color: rgb(171, 239, 191);
    }

    .abaTable1{
      background-color: pink
    }



    #titulos{ 
      display: block !important;
      text-align: center;
      color:#008080 !important;
      font-weight: 600 !important;
      background-color: #fff !important;
      border: none !important;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20;
      margin-bottom: 1em;
    } 

    #centralDiv{
      background-color: blue;
      width: 100px;
      height: 100px;
    }

   .btnAcessoGr{
    width : 90px; 
    font-size : 12px !important;
   }
   
.divDir{
  float: right !important;
}


#titulosLabel{ 
  display: block !important;
  color:#008080 !important;
  font-weight: 600 !important;
  background-color: #fff !important;
  border: none !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20;
  margin-left: 0.5em;
  margin-top: 1em;
} 

#titulosLabel2{ 
  display: block !important;
  color:#008080 !important;
  font-weight: 600 !important;
  background-color: #fff !important;
  border: none !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20;

} 










