


/* .centralizar, h1{   

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 10px;
margin-top: 10px;
} */

.centralizar{   

  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

    }



    .alinharDir{
      text-align: right;
    }


    .corFont{
      color: blue;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .btnMenu{
     width: 100%  ;
     margin-bottom: 5px;
    }

    .fontMenu{
      font-size: 11px;
    }


   
   
















